header {
    background-color: #e8e5e2;
    padding-top: $spacing / 3;
}

nav {
    @include flex-align-center;
    justify-content: space-between;

    * {
        vertical-align: middle;
    }
    
    i, select, input {
    color: $font_primary_color;
    }

    select{
        font-family: 'Roboto', sans-serif;
        padding: 0 $spacing / 2; 
        border: 0;
        outline: 0;
        &:hover {
            color: $font_secondary_color;
            transition: $transition_color;
        }
    }

    .icon-container {
        margin: 0 $spacing/2;
    }

    .shopping-cart {
        position: relative;

        .cart-items {
            line-height: 10px;
            font-size: $font_small /1.5;
            position: absolute;
            top: -5px;
            right: -10px;
            border-radius: 50px;
            background-color: $font_secondary_color;
            color: white;
            padding: 2px 4px;
        }
    }

    .search-bar {
        position: relative;
        vertical-align: middle;

        input {
            line-height: 30px;
            padding-left: 5px;
            @include secondary-font-style;
        }

        .icon-container {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: 0 $spacing / 3;

            i {
                color: $font_secondary_color;
            }
        }
    }
}

.brand-container {
    max-width: 150px;
}