section {
    display: $disp_flex;
    padding: $spacing * 2;
}

//Sistemare regola generica size font

//Section.Firts
.first {
    background-color: #f0efef;
    //bug da fixare
    //background-image: url("images/jumbo-overlay.svg");   
    color: $font_primary_color;
    .wrapper {
        display: $disp_flex;
    }
    .left {
        margin-top: $spacing * 2;
        h1, p {
            margin-bottom: $spacing;
        }
    }
}

//Section.Second 
.second {
    flex-direction: column;
    .row{
        &.top {
            text-align: center;
            h1 {
                display: inline-block;
                margin-top: 5px;
            }
        }
        &.bottom {
            display: $disp_flex;
            margin-top: $spacing * 1.5;
            .card {
                @include card-styles;
                h5 {
                    text-transform: capitalize;
                }
                .img-container {
                    max-width: 100px;
                }
            }
        }
    }
}