@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin list-styles {
    list-style: none;
    margin: 0;
    display: $disp_flex;
}

@mixin default-button {
    background-color: #22ad96;
    font-weight: bold;
    color: white;
    padding: $spacing / 3;
    border-radius: 5px;
    border: none;
}

@mixin secondary-font-style {
    font-size: $font_small;
    font-family: 'Roboto', sans-serif;
}

@mixin button-hover-default {
    background-color: $font_primary_color;
    transition: $transition_color;
}

@mixin special-font {
    color: $font_secondary_color;
    font-family: 'Poiret One', cursive;
}

@mixin card-styles {
    display: $disp_flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 25%;
    margin: 0 $spacing/2;
}

@mixin dropdown-styles {
    display: $disp_flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    background-color: white;
    box-shadow: 10px 10px 10px 10px $bg_secondary_color;
    line-height: 15px;
    padding: $spacing / 2;
}

@mixin teacher-pic {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    max-width: 30px;
    max-height: 30px;
}

@mixin course-price-styles {
    background-color: $font_secondary_color;
    color: white;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}