$spacing: 30px;

$disp_flex: flex;

$font_primary_color: #513e5e;

$lighter_primary_color: #b6b8d1;

$font_secondary_color: #22ad96;

$font_tertiary_color: #96a6a5;

$font_darker_tertiary_color: #959999;

$transition_color: .3s;

$font_small: 0.75em;


